html, body {
    height: 100%;
    margin: 0;
}
.container {
    display: grid;
    width: 520px;
    margin: 100px auto 0 auto;
    height: 600px;
    grid-template-columns: 70px 450px;
    grid-template-rows: 600px;
    border: 1px solid gray;
}
.container .menu {
    background: #eee;
}
.main {
    display: grid;
    grid-template-rows: 32px 120px 1fr;
    max-width: 450px;
}
.minmaxesc {
    height: 22px;
    text-align: right;
    margin: 5px;
    width: 440px;
}
.w_minimize, .w_maximize, .w_close {
    margin: 0 5px;
}
.header {
    padding: 10px 20px;
}
.header .title {
    height: 60px;
    line-height: 60px;
}
.header .title .t_openchat, .header .title .t_newchat {
    float: right;
}
.header .title .t_openchat {
    margin-right: 15px;
}
.header .search {
    height: 40px;
    line-height: 40px;
    background: #eee;
    border-radius: 30px;
    padding: 0 15px;
}
.header .search input {
    margin-left: 10px;
    width: 340px;
    height: 25px;
    font-size: 20px;
    background: none;
    border: none;
    vertical-align: middle;
}
.header .search input:focus {
    outline: none;
}
.items {
    padding: 0 0 0 20px;
    overflow-x: hidden;
    overflow-y: auto;

}
.items li {
    display: grid;
    grid-template-columns: 80px 260px 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        "g_img g_text1 g_text3"
        "g_img g_text2 g_text4";
    height: 60px;
    width: 100%;
    padding: 10px 0;
    border: 1px none gray;
    line-height: 30px;

}
.items li:hover {
    background: #eee;
}
.items li img {
    grid-area: g_img;
    width: 60px;
    height: 60px;
    border-radius: 23px;
}
.items li p {
    margin: 0;   
    overflow: hidden;
    text-overflow: ellipsis;
}
.items li #g_text1 {
    grid-area: g_text1;
    font-weight: bold;
}
.items li #g_text2 {
    grid-area: g_text2;

}
.items li #g_text3 {
    grid-area: g_text3;
    font-size: 11px;
}
.chatHeader {
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
}
.chatHeader #chatChatter {
    margin: 0;
    position: absolute;
    left: 50%;
    font-weight: bold;
    font-size: 20px;
}
.output {
    overflow-y: auto;
    overflow-x: hidden;
}
.output img {
    width: 60px;
    height: 60px;
    border-radius: 23px;
}
.chatinput {
    background-color: #eee;
}

.temp {
    display: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu li {
    text-align: center;
}

.menu .m_friends {
    margin-top: 50px;
}
.menu .m_chat, .m_more {
    margin-top: 40px;
}
.menu .m_emoji {
    margin-top: 200px;
}
.menu .m_calendar, .m_notifi, .m_menu {
    margin-top: 40px;
}


a, a:visited {
    color: black;
}

@media(max-width: 500px) {
    .container {
        display: none;
    }
    .temp {
        display: block;
    }
}